# Sentiment analysis using existing toolkits like Vader and TextBlob

In [1]:
import pandas as pd
import csv
import re
import numpy as np
import plotly.express as px
from plotly.offline import init_notebook_mode
from textblob import TextBlob
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer
from pre import clean_text, remove_stopwords

[nltk_data] Downloading package stopwords to C:\Users\SHIVAM
[nltk_data]     GUPTA\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [2]:

df = pd.read_csv("../data_collection/tweets_data.csv")
df

,tweet_id_str,date_time,location,tweet_text,media_urls
0,1844078887871058378,Wed Oct 09 18:14:02 +0000 2024,No location provided,bharat lost real ratan. end era om shanti #rat...,NaN
1,1843186838787526796,Mon Oct 07 07:09:21 +0000 2024,No location provided,thank thinking,NaN
2,1844294321736122741,Thu Oct 10 08:30:06 +0000 2024,No location provided,om shanti ... #ratantata,NaN
3,1844092588506349768,Wed Oct 09 19:08:29 +0000 2024,No location provided,"india lost ratan ! institution , remembered ge...",NaN
4,1844189159876968623,Thu Oct 10 01:32:13 +0000 2024,No location provided,deepest condolences ' bharat ratna ' true sens...,NaN
...,...,...,...,...,...
394,1844089092931453247,Wed Oct 09 18:54:35 +0000 2024,No location provided,india bows silence tonight. #ratantata,NaN
395,1844727757290299825,Fri Oct 11 13:12:25 +0000 2024,No location provided,#ratantata #tatatrust #tatagroup,NaN
396,1844094311715176510,Wed Oct 09 19:15:20 +0000 2024,No location provided,big loss end era #ratantata,NaN
397,1844080814415282460,Wed Oct 09 18:21:42 +0000 2024,No location provided,chairman emeritus ratan tata guided tata group...,NaN
398,1844082059960254962,Wed Oct 09 18:26:39 +0000 2024,No location provided,NaN,NaN

In [3]:
df['tweet_text']

0      bharat lost real ratan. end era om shanti #rat...
1                                         thank thinking
2                               om shanti ... #ratantata
3      india lost ratan ! institution , remembered ge...
4      deepest condolences ' bharat ratna ' true sens...
                             ...
394               india bows silence tonight. #ratantata
395                     #ratantata #tatatrust #tatagroup
396                          big loss end era #ratantata
397    chairman emeritus ratan tata guided tata group...
398                                                  NaN
Name: tweet_text, Length: 399, dtype: object

<hr>

## 1. Sentiment Analysis with TextBlob

In [4]:
def getSubjectivity(text):
    return TextBlob(text).sentiment.subjectivity

def getPolarity(text):
    return TextBlob(text).sentiment.polarity

In [5]:

your_text = 'I like this movie'
getPolarity(your_text), getSubjectivity(your_text)

(0.0, 0.0)

We now have subjectivity and polarity scores for each of our tweets, which we add to our dataframe.

In [6]:
df['tweet_text'] = df['tweet_text'].fillna('')

def getSubjectivity(text):
    return TextBlob(text).sentiment.subjectivity

def getPolarity(text):
    return TextBlob(text).sentiment.polarity

df['subjectivity'] = df['tweet_text'].apply(getSubjectivity)
df['polarity'] = df['tweet_text'].apply(getPolarity)

df

,tweet_id_str,date_time,location,tweet_text,media_urls,subjectivity,polarity
0,1844078887871058378,Wed Oct 09 18:14:02 +0000 2024,No location provided,bharat lost real ratan. end era om shanti #rat...,NaN,0.300000,0.200000
1,1843186838787526796,Mon Oct 07 07:09:21 +0000 2024,No location provided,thank thinking,NaN,0.000000,0.000000
2,1844294321736122741,Thu Oct 10 08:30:06 +0000 2024,No location provided,om shanti ... #ratantata,NaN,0.000000,0.000000
3,1844092588506349768,Wed Oct 09 19:08:29 +0000 2024,No location provided,"india lost ratan ! institution , remembered ge...",NaN,0.000000,0.000000
4,1844189159876968623,Thu Oct 10 01:32:13 +0000 2024,No location provided,deepest condolences ' bharat ratna ' true sens...,NaN,0.470000,0.010000
...,...,...,...,...,...,...,...
394,1844089092931453247,Wed Oct 09 18:54:35 +0000 2024,No location provided,india bows silence tonight. #ratantata,NaN,0.000000,0.000000
395,1844727757290299825,Fri Oct 11 13:12:25 +0000 2024,No location provided,#ratantata #tatatrust #tatagroup,NaN,0.000000,0.000000
396,1844094311715176510,Wed Oct 09 19:15:20 +0000 2024,No location provided,big loss end era #ratantata,NaN,0.100000,0.000000
397,1844080814415282460,Wed Oct 09 18:21:42 +0000 2024,No location provided,chairman emeritus ratan tata guided tata group...,NaN,0.454545,0.136364
398,1844082059960254962,Wed Oct 09 18:26:39 +0000 2024,No location provided,,NaN,0.000000,0.000000

Creating a function to add a sentiment label to each tweet, based on it's polarity score.

In [7]:
def get_sentiment_label(score):
    if score < 0:
        return 'Negative'
    elif score == 0:
        return 'Neutral'
    else:
        return 'Positive'

In [8]:
# Apply the get_sentiment_label function to the polarity column
# and add the sentiment results as a new column in our dataframe

df['TBsentiment'] = df['polarity'].apply(get_sentiment_label)
df

,tweet_id_str,date_time,location,tweet_text,media_urls,subjectivity,polarity,TBsentiment
0,1844078887871058378,Wed Oct 09 18:14:02 +0000 2024,No location provided,bharat lost real ratan. end era om shanti #rat...,NaN,0.300000,0.200000,Positive
1,1843186838787526796,Mon Oct 07 07:09:21 +0000 2024,No location provided,thank thinking,NaN,0.000000,0.000000,Neutral
2,1844294321736122741,Thu Oct 10 08:30:06 +0000 2024,No location provided,om shanti ... #ratantata,NaN,0.000000,0.000000,Neutral
3,1844092588506349768,Wed Oct 09 19:08:29 +0000 2024,No location provided,"india lost ratan ! institution , remembered ge...",NaN,0.000000,0.000000,Neutral
4,1844189159876968623,Thu Oct 10 01:32:13 +0000 2024,No location provided,deepest condolences ' bharat ratna ' true sens...,NaN,0.470000,0.010000,Positive
...,...,...,...,...,...,...,...,...
394,1844089092931453247,Wed Oct 09 18:54:35 +0000 2024,No location provided,india bows silence tonight. #ratantata,NaN,0.000000,0.000000,Neutral
395,1844727757290299825,Fri Oct 11 13:12:25 +0000 2024,No location provided,#ratantata #tatatrust #tatagroup,NaN,0.000000,0.000000,Neutral
396,1844094311715176510,Wed Oct 09 19:15:20 +0000 2024,No location provided,big loss end era #ratantata,NaN,0.100000,0.000000,Neutral
397,1844080814415282460,Wed Oct 09 18:21:42 +0000 2024,No location provided,chairman emeritus ratan tata guided tata group...,NaN,0.454545,0.136364,Positive
398,1844082059960254962,Wed Oct 09 18:26:39 +0000 2024,No location provided,,NaN,0.000000,0.000000,Neutral

We can have a quick look at the sentiment distribution of the tweets as follows:

In [9]:
df['TBsentiment'].value_counts()

TBsentiment
Neutral     219
Positive    156
Negative     24
Name: count, dtype: int64

In [10]:
# Filter and print the negative sentiment tweets
negative_tweets = df[df['TBsentiment'] == 'Negative']
print("\nNegative Sentiment Tweets:")
print(negative_tweets[['tweet_text', 'polarity']])

Negative Sentiment Tweets:
                                            tweet_text  polarity
7    say gone .. ' hard bear loss .. hard .. farewe... -0.291667
18                       proved world wrong #ratantata -0.500000
28   varanasi , uttar pradesh tribute #ratantata he... -0.125000
51   india ' titan ratan tata , credited transformi... -0.150000
62   saddened hear passing ratan tata sir. unmatche... -0.250000
68   monsoons , lot stray cats dogs take shelter ca... -0.033333
81   1st picture marine drive india world cup 2nd p... -0.250000
113  sushant singh rajput died , remained silent. r... -0.042857
122  ratan tata longer us. ratan tata , aged 86 , e... -0.100000
140  0 posts ratan tata sir sushant singh rajput sk... -0.287879
164  ' never spoke ill anyone , much learn ' diljit... -0.150000
176  sad announce ratan tata departed heavenly abod... -0.138889
195  news expected morning , life. though never met... -0.033333
212  #statecraftinthenews 1 8 ratan tata , 86 , pas... -0.133333
253  1 billion people sad ratan tata died without m... -0.500000
261  forever idol ratan tata om shanti , one india ... -0.025000
289                  curious language ! ! ! #ratantata -0.195312
296  hello , ratan tata already debunked fake quote... -0.500000
301              mainstream media sorry sir #ratantata -0.500000
319  people perpetrator criminal #ratantata. traine... -0.422917
323  honouring late shri ratan tata , whose legacy ... -0.233333
345  remembering time spent late ratan tata ji , tr... -0.016667
351  #ratantata passes away aged 87 years. rest pea... -0.100000
368  president droupadi murmu , vice president jagd... -0.800000

In [11]:
sorted_df = df.sort_values(by=['polarity'], ascending=False)

Top 15 most _positive_ tweets, which are now the first 15 tweets in the new dataframe.

In [12]:
for i, tweet in enumerate(sorted_df.head(15)['tweet_text']):
    print(i+1, tweet, '\n')

1 today , remember legendary patron , mr ratan tata. wisdom , kindness , leadership continue serve beacon , reminding us work integrity innovation , , throughout illustrious journey. #ratantata #ratannavaltata #thetitan #visionary #icon

2 great soul thank inspiration .. rip sir ratan tata ! ! #ratantatasir #ratantatapassesaway #ratantatarip #ratantataliveson

3 best speech #ratantata .

4 forget airport. read billboard ... priceless ratan tata

5 titan , icon , greatest #ratantata passed away .... rip sir

6 ratan tata renowned indian businessman philanthropist , best known leading tata group 1991 2012. ' remarkable life journey

7 great great great great wonderful man shri ratan tata g #ratantatasir

8 memory ratan tata iim mumbai pays tribute great leader philanthropist whose impact forever inspire us. rest peace. #iim #iimmumbai #legend #ratantata #rip #riplegend #willmissyou #youwillbemissed

9 ' great loss #ratantata #ripratantata

10 ratan tata man made india proud. legacy remains posterity. may soul rest peace.

11 rip legendary ratan tata thank inspiring millions

12 rip ratan tata ji. legacy , values , work always undeniable source inspiration. condolences loved ones.

13 beloved son india done much beloved nation. mourning passing #ratantata , legend. om shanti.

14 true ? great loss nation ! #ratantata #ratan tata

15 inspiration many us greatly missed sir #ratantata

Top 15 most _negative_ tweets, which are now the last 15 tweets in the new dataframe.

In [13]:
for i, tweet in enumerate(sorted_df.tail(15)['tweet_text']):
    print(i+1, tweet, '\n')

1 sad announce ratan tata departed heavenly abode. served chairman tata group tata sons 1990 2012 tenure , tata motors acquired jaguar land rover. mercedes benz also brought india tenure , joint venture telco previous name tata motors first owner w124 e220 fondly remembered everyone , efforts indian automotive sector. may soul rest peace #ratantata #ripratantata

2 ' never spoke ill anyone , much learn ' diljit dosanjh halts germany concert pay tribute ratan tata meanwhile , mumbai , garba dandiya night also saw tribute ratan tata , crowd paused celebrations honour memory. #ratantata #tatagroup #diljitdosanjh

3 india ' titan ratan tata , credited transforming tata group globally renowned conglomerate , passes away age 86 , company said late wednesday. ratan naval tata 28.12.1937 09.10.2024. may soul rest peace. #ratantata #tatagroup

4 curious language ! ! ! #ratantata

5 honouring late shri ratan tata , whose legacy generosity tata trusts gave karunashraya early hope support. kindness inspires mission provide compassionate care terminally ill cancer patients.

6 saddened hear passing ratan tata sir. unmatched vision , humility kindness continue inspire generations. heartfelt condolences tata family difficult time.

7 1st picture marine drive india world cup 2nd picture marine drive convoy hearse carrying shri ratan tata body passing sorry say mumbai deserve anmol ratan

8 0 posts ratan tata sir sushant singh rajput skips ram mandir pran pratishtha hookah party plays new zealand world cups posted poems ambani ' wedding , dhobi worst human play cricket history ? ?

9 say gone .. ' hard bear loss .. hard .. farewell friend .. #ratantata

10 people perpetrator criminal #ratantata. trained every person money evil glass always show half empty amp stolen amp cheated. rest case ! still respect amp 26 11.

11 proved world wrong #ratantata

12 1 billion people sad ratan tata died without meeting them. , mof0 mayank worried pseudo secularism. ratan tata parsi. sad see zoroastrian priest there. india truly secular? ? rest peace sir ratan tata.

13 mainstream media sorry sir #ratantata

14 hello , ratan tata already debunked fake quote attributed him.

15 president droupadi murmu , vice president jagdeep dhankhar prime minister narendra modi expressed grief demise #ratantata.

Now let's visualise distribution of the polarity and subjectivity assignments from TextBlob. To do this, we will make use of interactive plots from [Plotly](https://plotly.com/python/).

Interactive Plotly plots make use of JavaScript behind the scenes. To connect our Jupyter notebook with JavaScript, we need to execute the following line of code:

In [14]:
# ___Cell no. 12___

init_notebook_mode(connected=True)

Below, we use [Plotly Express](https://plotly.com/python/plotly-express/) to create a simple scatter plot of the polarity and subjectivity data. As this is an interactive plot, you will be able to hover your mouse over a point to view it's properties. 

Note how plotly express automatically labels our axes for us according to our dataframe column names.

In [15]:
from plotly.offline import plot

# ___Cell no. 13___

# Use plotly offline mode to render the plot
fig = px.scatter(df, x="polarity", y="subjectivity", hover_data=['tweet_text'],
                 title="TextBlob Sentiment Analysis")

# Plot offline
plot(fig)

'temp-plot.html'

<hr>

## 2. Sentiment Analysis with VADER

In [16]:
analyser = SentimentIntensityAnalyzer()

In [17]:
# ___Cell no. 15___

your_text = 'i like this movie'
analyser.polarity_scores(your_text)

{'neg': 0.0, 'neu': 0.545, 'pos': 0.455, 'compound': 0.3612}

Let us now use VADER to retrieve the compound sentiment score for all tweets and add this information to our original (unsorted) dataframe.

In [18]:
#Create a function to get the polarity

def get_vaderCompoundPolarity(text):
    return analyser.polarity_scores(text)['compound']
    
df['vader_compound'] = df['tweet_text'].apply(get_vaderCompoundPolarity)
df

,tweet_id_str,date_time,location,tweet_text,media_urls,subjectivity,polarity,TBsentiment,vader_compound
0,1844078887871058378,Wed Oct 09 18:14:02 +0000 2024,No location provided,bharat lost real ratan. end era om shanti #rat...,NaN,0.300000,0.200000,Positive,-0.3182
1,1843186838787526796,Mon Oct 07 07:09:21 +0000 2024,No location provided,thank thinking,NaN,0.000000,0.000000,Neutral,0.3612
2,1844294321736122741,Thu Oct 10 08:30:06 +0000 2024,No location provided,om shanti ... #ratantata,NaN,0.000000,0.000000,Neutral,0.0000
3,1844092588506349768,Wed Oct 09 19:08:29 +0000 2024,No location provided,"india lost ratan ! institution , remembered ge...",NaN,0.000000,0.000000,Neutral,0.3595
4,1844189159876968623,Thu Oct 10 01:32:13 +0000 2024,No location provided,deepest condolences ' bharat ratna ' true sens...,NaN,0.470000,0.010000,Positive,0.5994
...,...,...,...,...,...,...,...,...,...
394,1844089092931453247,Wed Oct 09 18:54:35 +0000 2024,No location provided,india bows silence tonight. #ratantata,NaN,0.000000,0.000000,Neutral,0.0000
395,1844727757290299825,Fri Oct 11 13:12:25 +0000 2024,No location provided,#ratantata #tatatrust #tatagroup,NaN,0.000000,0.000000,Neutral,0.0000
396,1844094311715176510,Wed Oct 09 19:15:20 +0000 2024,No location provided,big loss end era #ratantata,NaN,0.100000,0.000000,Neutral,-0.3182
397,1844080814415282460,Wed Oct 09 18:21:42 +0000 2024,No location provided,chairman emeritus ratan tata guided tata group...,NaN,0.454545,0.136364,Positive,0.0000
398,1844082059960254962,Wed Oct 09 18:26:39 +0000 2024,No location provided,,NaN,0.000000,0.000000,Neutral,0.0000

Let us once again apply the 'get_sentiment_label' function to assign the VADER sentiment of each tweet given the compound score.

In [19]:

# Apply the get_sentiment_label function to the VADER compound score
# and add the VADER sentiment results as a new column in our dataframe

df['VADERsentiment'] = df['vader_compound'].apply(get_sentiment_label)
df

,tweet_id_str,date_time,location,tweet_text,media_urls,subjectivity,polarity,TBsentiment,vader_compound,VADERsentiment
0,1844078887871058378,Wed Oct 09 18:14:02 +0000 2024,No location provided,bharat lost real ratan. end era om shanti #rat...,NaN,0.300000,0.200000,Positive,-0.3182,Negative
1,1843186838787526796,Mon Oct 07 07:09:21 +0000 2024,No location provided,thank thinking,NaN,0.000000,0.000000,Neutral,0.3612,Positive
2,1844294321736122741,Thu Oct 10 08:30:06 +0000 2024,No location provided,om shanti ... #ratantata,NaN,0.000000,0.000000,Neutral,0.0000,Neutral
3,1844092588506349768,Wed Oct 09 19:08:29 +0000 2024,No location provided,"india lost ratan ! institution , remembered ge...",NaN,0.000000,0.000000,Neutral,0.3595,Positive
4,1844189159876968623,Thu Oct 10 01:32:13 +0000 2024,No location provided,deepest condolences ' bharat ratna ' true sens...,NaN,0.470000,0.010000,Positive,0.5994,Positive
...,...,...,...,...,...,...,...,...,...,...
394,1844089092931453247,Wed Oct 09 18:54:35 +0000 2024,No location provided,india bows silence tonight. #ratantata,NaN,0.000000,0.000000,Neutral,0.0000,Neutral
395,1844727757290299825,Fri Oct 11 13:12:25 +0000 2024,No location provided,#ratantata #tatatrust #tatagroup,NaN,0.000000,0.000000,Neutral,0.0000,Neutral
396,1844094311715176510,Wed Oct 09 19:15:20 +0000 2024,No location provided,big loss end era #ratantata,NaN,0.100000,0.000000,Neutral,-0.3182,Negative
397,1844080814415282460,Wed Oct 09 18:21:42 +0000 2024,No location provided,chairman emeritus ratan tata guided tata group...,NaN,0.454545,0.136364,Positive,0.0000,Neutral
398,1844082059960254962,Wed Oct 09 18:26:39 +0000 2024,No location provided,,NaN,0.000000,0.000000,Neutral,0.0000,Neutral

let's have a look at what VADER has classified as the 15 most postive and negative tweets by using the same method shown in the TextBlob example.

In [20]:
sorted_df2 = df.sort_values(by=['vader_compound'], ascending=False)

In [21]:

for i, tweet in enumerate(sorted_df2.head(15)['tweet_text']):
    print(i+1, tweet, '\n')

1 ratan tata , personal hero loss ratan tata sir passing. loss feels personal me. hero growing , like many others. consider blessed gotten opportunity know personal hero deeply last decade. meeting interacting many times time , learning lessons life. relationship mr. tata started 2008. graduating iit bombay guest speaker convocation. young kid words day stayed serve one country. 2015 , got chance meet mr tata decided invest ola. interactions end there. begun ! mr tata like business leader ever met. took personal interest journey. every interaction grace , humility , curiosity world learning me. 2016 , invited come bengaluru address whole company. thought person stature would politely decline actually took full day , flew bengaluru spent entire day team company ! one story like share today key role founding second company ola electric. one day 2017 got call asking come mumbai. said bhavish want take somewhere show something exciting . flew plane coimbatore see personal project making electric vehicles tata nano ! passionate excited electric vehicles. even drove one test track pointed detailed improvements engineers. day ola electric really got started ignited passion evs cars ! , almost every product conceptualised designed yet released would go show concepts would patiently sit ideate give feedback. love animals dogs also grew me. fact , love dogs many times went office , would notice street dogs proudly sitting right next inside office ! inspiration , decided open ola offices factories stray dogs today almost 30 living facilities. last time met year ago share news ola electric ipo usual gracious curious. frail enthusiasm cars high ever , encouragement strong ever. reflect legacy today , set bar high us. walk journey , make mistakes learn , feel incredibly blessed seen amazing man close , gotten chance see ideal strive for. deeply miss him. india deeply miss him. one like again. om shanti

2 shri ratan tata ji legacy one compassion , statesmanship unshakeable conviction india growth story. life defined building enterprise giving back society. demise , people assam lost one biggest well wishers. shri tata , recipient assam ' highest civilian award , occupied special place hearts minds people assam. took giant leap faith welfare assam. deeply passionate improving healthcare state vision gave birth assam cancer care foundation. played instrumental role setting tata ' semiconductor facility jagiroad creating several employment opportunities youth. personal loss. every interaction left wiser , recent visited mumbai thank semiconductor project faith assam ' abilities industrial base. simplicity humility something never forget. death leaves huge void cannot filled. thoughts prayers members tata family nation mourns loss inspirational leader. om shanti !

3 ratan tata passes sway. leadership , 150 year old business group truly marked way 21st century tata brand resonated legacy world. tata group foundation lies firm neutrality inclusive culture hallmark ratan tata. genius jrd tata mantle passed onto ratan tata. independence , jrd fight lot battles licence raj malpractices government decision nationalise air india. achieved maintaining high ethical standards. fortunately , entry ratan tata happened malpractices mend licence raj getting obliterated rising spirit liberalisation. shackles evils slowly dissipating however , indian industries still reeling aftermath transitional phase. ratan tata , astute observer world happenings global perspective knew globalisation would affect indian minds aware indian sharp acumen capable coping global market. keeping mind , right products like coffee , watches , world reknowned company tcs , british pride jaguar land rover gracefully taken expertise. unparalleled visionary , extended arms achieve every man dream home housing schemes making affordable car nano within reach every indian. amidst , one never saw getting stuck petty happenings. rising hurdles achieving trademark. fortunate personal close equation ratan tata. never happened put proposal refused. presented blue print maharashtra development , chalked important suggestions , spontaneous assistance csr funds maharashtra navnirman sena nashik botanical garden affection towards party always cherished. botanical garden made nashik result painstaking effort perseverance part. ratan tata witness though initial funds released adequate , graciously sanctioned keeping sincerity efforts magnitude work happening. completion , made personal visit botanical garden. another aspect ratan tata heartwarming resonates love dogs. stray dogs looked welcomed premises , taj mahal hotel office head quarters. love dogs transcends persona level beyond words. ratan tata felicitated buckingham palace unmatched philanthropy. however , last moment , pet dog took ill. immediately called prince charles conveyed regrets leave ailing dog alone. highlights remarkable human was. today , feel sense deep grief lost senior dear friend country lost national icon. irreparable loss. behalf maharashtra navnirman sena cherished memories , heartfelt homage ratan tata raj thackeray

4 honourable prime minister , shri. narendra modiji , jai maharashtra , veteran industrialist ratan tata , shaped indian industry last three decades , passed away. knew shri ratan tata closely would gathered person least interested honours accolades. contributions indian industry economy immense. importantly , humanity true greatness. person received bharat ratna , highest civilian honour , lifetime. party request hope declared bharat ratna posthumously. sure indians expectation. news ratan tata ' death came yesterday , people voluntarily paused programs paid tribute. venues mumbai even dandiya stopped midway , two minute silence observed. since morning , everyone india pouring tributes social media. someone home departed. personalities ' bharat ratna ' ? therefore , sure take decision regard instruct concerned. india veritable mine gems. bestowing civil honour take place appropriate stage lives. never anyone request posthumous honour anyone. honouring someone life , hale hearty , better. often see eminent people receiving honour state physical disrepair , right. sure institute definite policy regard. raj thackeray .

5 ' heartbreaking hear passing mr. ratan tata. first met mr. tata almost 10 years ago , 2015 beginning , within 45 minute meeting , agreed invest previous company. moment turning point life. investor personal mentor perhaps greatest professional blessing ' ever received. years , met often seek advice. sharp business acumen , attention detail , ability offer profound insights awe inspiring. stood even incredible humility patience. matter busy , always made time , never rushing meetings , always giving full attention. learned much , business , life. passing feels like deep personal loss , , everyone whose lives touched. mr. tata , truly made world better place. always live hearts. may god bless , may soul rest peace. om shanti. #ratantata #tata #mentor #omshanti #restinpeace

6 moment etched heart forever flying hon ble sir mr. ratan tata nyc delhi changed life. humility , grace , values left profound impact me. asked picture end flight , went get , stopped said , captain , throne. ' earned it. came behind humble gesture solidified beliefs leadership. photo meant personal inspiration , today , feel compelled share dedicate gratitude , inspiring melancholy legend whose legacy live on. rest peace , mr. tata. legacy lives , heart hearts billions ' touched worldwide. #ratantata #rip

7 . sue warm kind hearted know ratan tata sir someone really admired , business sense kindness , passion amp nature wise , think took inspiration businessman , money putting heart business

8 rip ratan tata ! first indian brand leo messi became ambassador tata motors. kid , still remember big deal see global football icon like messi face indian automobile manufacturer. back , leo said , excited first association indian brand extremely thrilled part tata motors family. always fascinated india heard great things diverse country. tata motors true representation india well established brand , globally. important believe keep pushing achieve success first campaign stands for.

9 proud indian young lieutenant indian navy early 80s , fortunate walk sh ratan tata along seaside us club , colaba many times. would reach sharp 6 pm daily two german shepards never shied listening question every day find disagreeing time. jrd tata command then. quit navy joined piramal gp 1994.few years later , ran taj palace , delhi mr piramal receiving awards.he looked , smiled found disagreeing yet response. question , given wealth blessed , ultimate aim ? 10 oct 2017 met piramal house , privileged sit next him. began. blessing born human , dream big laugh. inner contentment occurs serve needy , wholeheartedly expect nothing. spot .

10 mr. ratan tata remarkable business leader someone set example us integrity , vision , deep sense responsibility towards giving back society. used influence make real difference education , healthcare , philanthropy touching millions lives leaving behind legacy rare world driven success. life inspire us aim higher , act purpose , never lose sight importance giving back. rest peace , mr. tata. remembered built lived #ratantata

11 visionary built businesses dreams. legacy continue inspire generations lead compassion , courage , unwavering integrity ! rest peace , ratan tata !

12 titan true icon , #ratantata garu passing . ' truly saddening. impact rest world never forgotten. history remember you. words wisdom inspired touched deeply , thank inspiring us humility kindness. rest peace , sir. om shanti

13 life , demise , mr ratan tata moved nation. fortunate spend time , millions , never met , feel grief feel today. impact. love animals philanthropy , showed true progress achieved care means take care themselves. rest peace , mr tata. legacy continue live institutions built values embraced .

14 great great great great wonderful man shri ratan tata g #ratantatasir

15 rest peace , great man , visionary leader , great human , true indian legend icon shree ratan tata . legacy live on. thank everything. always always remembered. #theratntata

In [22]:
#Print out the text from the last 15 tweets in the sorted dataframe

for i, tweet in enumerate(sorted_df2.tail(15)['tweet_text']):
    print(i+1, tweet, '\n')

1 ratan tata final rites ! ! given state funeral ! ! salute man departure ! !

2 understand media really getting much asking every latest thing celebs. media asked #aliabhatt ratan tata sir reaction sorry say , shame alia ! #ripratantata #rip ratantata #ratantatasir #ratantatapassedaway

3 deeply saddened passing mr. ratan tata .

4 people turned streets colaba say one last goodbye ratan tata. tears sadness around.

5 0 controversies 0 scams 0 attitude 0 arrogance 0 cringe events 0 display wealth 100 dedication country people. titan lived others country left vultures like ambanis amp adanis om shanti #ratantata ji

6 #ratantata ' death , responsibility carry forward legacy falls shoulders nephew nieces leah , maya neville tata. need know details

7 shantanu naidu ko ratan tata ke funeral dekh ke pata nahi kyo iron man funeral ke scene ki yaad aa gai .

8 #ratantata world ' biggest donor. donated 829,734 crore. built multiple free hospitals , schools amp saved millions lives. today , death , whole world crying. unheard instances mr. tata make cry

9 #ratantata world ' biggest donor. donated 829,734 crore. built multiple free hospitals , schools saved millions lives. death , whole world crying. unheard instances mr. tata make cry

10 sushant singh rajput died , remained silent. rohit sharma virat kohli declare retirement , remained silent. ratan tata passed away , remained silent. dholak played ambani ' house , danced wearing ghunghru. right wrong ? ?

11 1 billion people sad ratan tata died without meeting them. , mof0 mayank worried pseudo secularism. ratan tata parsi. sad see zoroastrian priest there. india truly secular? ? rest peace sir ratan tata.

12 monsoons , lot stray cats dogs take shelter cars. important check car turn accelerate avoid injuries stray animals taking shelter. seriously injured , handicapped even killed unaware presence vehicles. would heartwarming could offer temporary shelter pouring season .

13 ratan tata stayed outside taj hotel entire duration 26 11 terrorist attack. attacks , reopened taj 1 month amp took financial care employees including street vendors outside it. 2024 , tata group crosssed gdp pakistan. perfect revenge

14 ratan naval tata , leading industrialist , philanthropist , one india internationally recognised business leaders , died october 9. former chairman tata group , one india oldest largest conglomerates , 24 hours later , ratan tata cremated. cultures unforgivingly rational death !

15 people perpetrator criminal #ratantata. trained every person money evil glass always show half empty amp stolen amp cheated. rest case ! still respect amp 26 11.

Compare the sentiment assignments of TextBlob and VADER by plotting another Plotly interactive scatter plot.

In [23]:
import plotly.express as px
from plotly.offline import plot

fig = px.scatter(df, x="polarity", y="vader_compound", hover_data=['tweet_text'],
                 title="TextBlob vs VADER")

plot(fig, filename='textblob_vs_vader.html')

'textblob_vs_vader.html'